body{
    background-color: #f9fafb;
}
#heading{
    font-size: 4rem;
    font-family: Montserrat, Inter, Nunito,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar{
    background-color: #ffffff;
    height: 7vh;
    margin-top: 10px;
    justify-content: center;
    gap: 40px;
    align-items: center;
    display: flex;
    
    
}
#create{
    border-radius: 10px;
    padding: 10px;
}
#delete{
    border-radius: 10px;
    padding:10px
}
#save{
    border-radius: 10px;
    padding:10px 15px 10px 15px
    
}
#navbar2{
    display: none;
}
#editor{
    
    display:none;
    border: 0px solid ;
    border-radius: 10px;
    margin-top: 10px;
    color:white;
    overflow-y: auto;
    overflow-x: hidden;
    animation: slideUp 2s ease-out forwards;
    background-color: black;
    height:60vh ;
    width: 100%;
}
@keyframes slideUp {
  from {
    transform: translateY(100vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.demo{
    margin-top: 10px;
    background-color: red;
    width:100%;
    height: 10vh;
}
.input-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
#input{
    color:white;    
    background-color: black;
    margin-top: 2.5vh;
    width: 95%;
    height: 55vh;

}
#div-button-wrapper{
    
    display: flex;
    justify-content:left ;
    align-items: center;
}
.listui{
    
    display:flex ;
    justify-content: space-between;
    margin-top: 10px;
    background-color: red;
    border: 3px solid black;
    border-radius: 40px;
    width:100%;
    height: 10vh;
}
.buttonui{
    width: 7vh;
    height: 7vh;
    margin: 10px;
    border-radius: 30px;
    background-color: blue;
}
#new_text_div{
    margin-left: 5vh;
}
#delete_button{
    margin-right: 10vh;
}
.flex-list{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

